doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 
        link(rel="stylesheet", href="/css/styles.css")
    body 
    
        header.header 
                h1 중국집                                                                   

        main.main_2 
            each s  in list 
                br
                h1 가게이름 : #{s.name}
                h1 종류 : #{s.type.typeName}
                br
                hr