<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 배달의 부족 포장
        link(rel="stylesheet", href="/css/styles.css")
    body
        section.pc__screen
            p Just Only Possible Mobile Decice, You Need Use Smaller Screen Than Now
        
        section.mobile__screen 
            header.header
                h1 배달의 부족 포장 
            main.main
                div.main_col1
                    block content
                              
                a(href="/when") 
                    div.main_col2 
            footer.footer  
                h1 webDeveloper : 오은하
                h1 참고 : 우아한형제들 - 배달의 민족
                h1 이 페이지에는 우아한형제들에서 
                h1 제공한 배달의민족 폰트가 적용되어 있습니다.