extends ./base.pug

block content 

    div.menu
        div.menu_col1   
            div.menu_col1_col1
            h1 디저트
            div.menu_col1_col1
            h1 분식
            div.menu_col1_col1
            h1 패스트
            div.menu_col1_col1
            h1 도시락

        div.menu_col2
            div.menu_col2_col1
            h1 족발.보쌈
            div.menu_col2_col1
            h1 중국집
            div.menu_col2_col1
            h1 찜.탕
