extends ./base.pug

block content 

    div.menu 
        div.menu_col1
            a(href="/dessert").menu_col1_col1
            a(href="/snackBar").menu_col1_col2
            a(href="/fast").menu_col1_col3 
            a(href="/lunchBox").menu_col1_col4
        div.menu_col2
            a(href="/pork").menu_col2_col1 
            a(href="/china").menu_col2_col2
            a(href="/ggim").menu_col2_col3