extends ./base.pug

block content 

    div.menu 
        div.menu_col1
            a(href="/dessert").menu_col1_col1
            a(href="/menu").menu_col1_col2
            a(href="/menu").menu_col1_col3 
            a(href="/menu").menu_col1_col4
        div.menu_col2
            a(href="/menu").menu_col2_col1 
            a(href="/menu").menu_col2_col2
            a(href="/menu").menu_col2_col3