extends ./base.pug

block content 

    div.menu 
        div.menu_col1
            div.menu_col1_col1
            div.menu_col1_col2
            div.menu_col1_col3 
            div.menu_col1_col4
        div.menu_col2
            div.menu_col2_col1 
            div.menu_col2_col2
                h1  중국집
            div.menu_col2_col3